---
import Layout from '../layouts/Layout.astro';
---

  
<Layout title="Medina Diesel">
	
</script>

	<main>
		<nav class="bg-slate-200">
			<div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
				<div class="relative flex h-16 items-center justify-between">
				  <div class="absolute inset-y-0 right-0 flex items-center sm:hidden">
					<!-- Mobile menu button-->
					<button type="button" class="relative inline-flex items-center justify-center rounded-md p-2 text-gray-400 hover:bg-gray-700 hover:text-white focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white" aria-controls="mobile-menu" aria-expanded="false">
					  <span class="absolute -inset-0.5"></span>
					  <span class="sr-only">Open main menu</span>
		
					  <svg class="block h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
						<path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
					  </svg>
					  <!--
						Icon when menu is open.
			
						Menu open: "block", Menu closed: "hidden"
					  -->
					  <svg class="hidden h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
						<path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
					  </svg>
					</button>
				  </div>
				  
				  <div class="flex flex-shrink-0 items-center">
					<img class="h-20 w-auto" src="https://www.medinadiesel.com.pe/images/Logo1.png" alt="Your Company">
				  </div>
				  <div class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-end">
					
					<div class="hidden sm:ml-6 sm:block">
					  <div class="flex space-x-4">
						
						<!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
						<a href="#" class="text-black hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium" >Locales</a>
						<a href="#" class="text-black hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium">Servicios</a>
						<a href="#" class="text-black hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium">Repuestos</a>
						<a href="#" class="bg-gray-900 text-white rounded-md px-3 py-2 text-sm font-medium" aria-current="page">Blog</a>
					  </div>
					</div>
				  </div>
				  </div>
				</div>
			  </div>
		</nav>
		<body>
			<div class="md:flex items-center justify-around p-6 bg-slate-200 ">
				<div class="md:w-1/2 p-4 sm: 1/3">
					<div>
						<p class="font-bold  text-xl md:text-4xl sm:text-2xl"><strong class="text-orange-600">Expertos</strong> en reparación de Inyectores Electrónicos y Bombas de Inyección Diésel</p>
					</div>
					<div>
						<p class=" font-bold py-5 tracking-tight text-xs md:text-xl">Con una trayectoria destacada en el sector, ofrecemos soluciones avanzadas para la
							reparación de inyectores electrónicos y bombas de inyección de diesel, asegurando el máximo rendimiento y eficiencia
							de tu flota o vehículo.</p>
					</div>
							</div>
				<div class="md:w-1/2 relative"><img class="rounded-lg" src="https://medinadiesel.com.pe/images/image_7.jpg" alt="">
				</div>
					
					
			</div>
			<div class="grid grid-cols-3 gap-2 py-2 px-7 flex justify-center content-center bg-slate-200 md:grid-cols-6 gap-4 py-5 px-28 ">
				<div class="flex items-center justify-center  md:w-40"><img class=" w-26 h-20" src="https://myleanacademy.com/wp-content/uploads/2020/01/audi-logo-png-1920x1080-hd-1080p-1920.png" alt=""></div>
				<div class="flex items-center justify-center  md:w-40"><img class=" w-38 h-12" src="https://upload.wikimedia.org/wikipedia/commons/c/c3/Bosch_logo.png?20170207124607" alt=""></div>
				<div class="flex items-center justify-center  md:w-40"><img class=" w-28 h-12" src="https://seeklogo.com/images/C/cat-machinery-logo-0D2946DA1A-seeklogo.com.png" alt=""></div>
				<div class="flex items-center justify-center  md:w-40"><img class=" w-20 h-20" src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6d/Volkswagen_logo_2019.svg/320px-Volkswagen_logo_2019.svg.png" alt=""></div>
				<div class="flex items-center justify-center  md:w-40"><img class=" w-20 h-20" src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/44/BMW.svg/2048px-BMW.svg.png" alt=""></div>
				<div class="flex items-center justify-center  md:w-40"><img class=" w-20 h-20" src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/12/Suzuki_logo_2.svg/2560px-Suzuki_logo_2.svg.png" alt=""></div>
			</div>
			<div class=" px-10 md:px-20 flex py-4 justify-start content-center bg-black lg:h-14">
				<div class="flex text-white w-2/3 font-sans"
					<p> ¿Tienes más de 2 unidades, o eres empresa?, Visita nuestro canal de empresa -> </p>
				</div>
				<div class="w-1/3 flex justify-end items-center">
					<div>
						<button class=" w-20 bg-white rounded-xl hover:bg-orange-700 hover:text-white">Canal</button>
					</div>
				</div>
			</div>

			<div class="flex font-bold justify-center content-center text-center bg-slate-200 p-12 md:p-20" >
				<p class="w-2/3 text-xl md:text-4xl sm:text-2xl">Encuentra el centro especializado y oficial más cercano</p>
			</div>

			<div class="flex justify-center content-center bg-slate-200 grid grid-cols-1 gap-2 px-7  md:grid-cols-3 gap-4 px-28 ">
				<div class="flex justify-center content-center rounded-xl bg-white">
					<div class="justify-center p-4">
						<div class="justify-center rounded-xl pb-3"><img class="object-cover" src="https://www.ipesa.com.pe/blog/wp-content/uploads/2022/12/maquinaria-pesada-1.jpg" alt=""></div>
						
						<div class="flex">
							<div class="w-16 flex items-center justify-center p-2 ">
								<i class="fa-regular fa-2x fa-map"></i>
							</div>
							<div class="content-center">
								<p class="text-sm font-mono flex content-center">
									Av. Honorio Delgado N°320 <br>
								Urb. Semirústica, El Bosque, Trujillo
								</p>
							</div>
						</div>
						<div class="flex">
							<div class="w-16 flex items-center justify-center p-2 ">
								<i class="fa-solid fa-2x fa-phone"></i>
							</div>
							<div class="flex items-center">
								<p class="text-sm font-mono">
								914817239
								</p>
							</div>
						</div>
						<div class="flex">
							<div class="w-16 flex items-center justify-center p-2 ">
								<i class="fa-solid fa-2x fa-phone"></i>
							</div>
							<div class="flex items-center">
								<p class="text-sm font-mono ">
								Tienda de Repuestos y Laboratorio Diesel
								</p>
							</div>
						</div>
						
						<div class="flex justify-center">
							<div class="flex justify-center w-1/2 py-2"><button class="w-2/3 px-2 border-black rounded-xl border-2 border-solid hover:bg-orange-600 hover:text-white">Llamar</button></div>
							<div class="flex justify-center w-1/2 py-2"><button class="w-2/3 px-2 border-black rounded-xl border-2 border-solid hover:bg-orange-600 hover:text-white">Mapa</button></div>
						</div>
					</div>
				</div>
				<div class="flex justify-center content-center rounded-xl bg-white">
					<div class="justify-center p-4">
						<div class="justify-center rounded-xl pb-3"><img class="object-cover" src="https://www.ipesa.com.pe/blog/wp-content/uploads/2022/12/maquinaria-pesada-1.jpg" alt=""></div>
						<div class="flex">
							<div class="w-16 flex items-center justify-center p-2 ">
								<i class="fa-regular fa-2x fa-map"></i>
							</div>
							<div class="content-center">
								<p class="text-sm font-mono flex content-center">
									Av. Honorio Delgado N°320 <br>
								Urb. Semirústica, El Bosque, Trujillo
								</p>
							</div>
						</div>
						<div class="flex">
							<div class="w-16 flex items-center justify-center p-2 ">
								<i class="fa-solid fa-2x fa-phone"></i>
							</div>
							<div class="content-center">
								<p class="text-sm font-mono flex content-center">
								914817239
								</p>
							</div>
						</div>
						<div class="flex">
							<div class="w-16 flex items-center justify-center p-2 ">
								<i class="fa-solid fa-2x fa-phone"></i>
							</div>
							<div class="flex items-center">
								<p class="text-sm font-mono ">
								Tienda de Repuestos y Laboratorio Diesel
								</p>
							</div>
						</div>
						
						<div class="flex justify-center">
							<div class="flex justify-center w-1/2 py-2"><button class="w-2/3 px-2 border-black rounded-xl border-2 border-solid hover:bg-orange-600 hover:text-white">Llamar</button></div>
							<div class="flex justify-center w-1/2 py-2"><button class="w-2/3 px-2 border-black rounded-xl border-2 border-solid hover:bg-orange-600 hover:text-white">Mapa</button></div>
						</div>
					</div>
				</div>
				<div class="flex justify-center content-center rounded-xl bg-white">
					<div class="justify-center p-4">
						<div class="justify-center rounded-xl pb-3"><img class="object-cover" src="https://www.ipesa.com.pe/blog/wp-content/uploads/2022/12/maquinaria-pesada-1.jpg" alt=""></div>
						<div class="flex">
							<div class="w-16 flex items-center justify-center p-2">
								<i class="fa-regular fa-2x fa-map"></i>
							</div>
							<div class="content-center">
								<p class="text-sm font-mono flex content-center">
									Av. Honorio Delgado N°320 <br>
								Urb. Semirústica, El Bosque, Trujillo
								</p>
							</div>
						</div>
						<div class="flex">
							<div class="w-16  flex items-center justify-center p-2">
								<i class="fa-solid fa-2x fa-phone"></i>
							</div>
							<div class="flex items-center">
								<p class="text-sm font-mono">
								914817239
								</p>
							</div>
						</div>
						<div class="flex">
							<div class="w-16  flex items-center justify-center p-2">
								<i class="fa-solid fa-2x fa-phone"></i>
							</div>
							<div class="flex items-center">
								<p class="text-sm font-mono ">
								Tienda de Repuestos y Laboratorio Diesel
								</p>
							</div>
						</div>
						
						<div class="flex justify-center">
							<div class="flex justify-center w-1/2 py-2"><button class="w-2/3 px-2 border-black rounded-xl border-2 border-solid hover:bg-orange-600 hover:text-white">Llamar</button></div>
							<div class="flex justify-center w-1/2 py-2"><button class="w-2/3 px-2 border-black rounded-xl border-2 border-solid hover:bg-orange-600 hover:text-white">Mapa</button></div>
						</div>
					</div>
				</div>
				<div class="flex justify-center content-center rounded-xl bg-white">
					<div class="justify-center p-4">
						<div class="justify-center rounded-xl pb-3"><img class="object-cover" src="https://www.ipesa.com.pe/blog/wp-content/uploads/2022/12/maquinaria-pesada-1.jpg" alt=""></div>
						<div class="flex">
							<div class="w-16  flex items-center justify-center p-2">
								<i class="fa-regular fa-2x fa-map"></i>
							</div>
							<div class="content-center">
								<p class="text-sm font-mono flex content-center">
									Av. Honorio Delgado N°320 <br>
								Urb. Semirústica, El Bosque, Trujillo
								</p>
							</div>
						</div>
						<div class="flex">
							<div class="w-16  flex items-center justify-center p-2">
								<i class="fa-solid fa-2x fa-phone"></i>
							</div>
							<div class="flex items-center">
								<p class="text-sm font-mono">
								914817239
								</p>
							</div>
						</div>
						<div class="flex">
							<div class="w-16  flex items-center justify-center p-2">
								<i class="fa-solid fa-2x fa-phone"></i>
							</div>
							<div class="flex items-center">
								<p class="text-sm font-mono ">
								Tienda de Repuestos y Laboratorio Diesel
								</p>
							</div>
						</div>
						
						<div class="flex justify-center">
							<div class="flex justify-center w-1/2 py-2"><button class="w-2/3 px-2 border-black rounded-xl border-2 border-solid hover:bg-orange-600 hover:text-white">Llamar</button></div>
							<div class="flex justify-center w-1/2 py-2"><button class="w-2/3 px-2 border-black rounded-xl border-2 border-solid hover:bg-orange-600 hover:text-white">Mapa</button></div>
						</div>
					</div>
				</div>
				<div class="flex justify-center content-center rounded-xl bg-white">
					<div class="justify-center p-4">
						<div class="justify-center rounded-xl pb-3 "><img class="object-cover" src="https://www.ipesa.com.pe/blog/wp-content/uploads/2022/12/maquinaria-pesada-1.jpg" alt=""></div>
						<div class="flex">
							<div class="w-16  flex items-center justify-center p-2">
								<i class="fa-regular fa-2x fa-map"></i>
							</div>
							<div class="content-center">
								<p class="text-sm font-mono flex content-center">
									Av. Honorio Delgado N°320 <br>
								Urb. Semirústica, El Bosque, Trujillo
								</p>
							</div>
						</div>
						<div class="flex">
							<div class="w-16  flex items-center justify-center p-2">
								<i class="fa-solid fa-2x fa-phone"></i>
							</div>
							<div class="flex items-center">
								<p class="text-sm font-mono">
								914817239
								</p>
							</div>
						</div>
						<div class="flex">
							<div class="w-16 flex items-center justify-center p-2">
								<i class="fa-solid fa-2x fa-phone"></i>
							</div>
							<div class="flex items-center">
								<p class="text-sm font-mono ">
								Tienda de Repuestos y Laboratorio Diesel
								</p>
							</div>
						</div>

						<div class="flex justify-center">
							<div class="flex justify-center w-1/2 py-2"><button class="w-2/3 px-2 border-black rounded-xl border-2 border-solid hover:bg-orange-600 hover:text-white">Llamar</button></div>
							<div class="flex justify-center w-1/2 py-2"><button class="w-2/3 px-2 border-black rounded-xl border-2 border-solid hover:bg-orange-600 hover:text-white">Mapa</button></div>
						</div>
					</div>
				</div>
				<div class="flex justify-center content-center rounded-xl bg-white">
					<div class="justify-center p-4">
						<div class="justify-center rounded-xl pb-3"><img class="object-cover" src="https://www.ipesa.com.pe/blog/wp-content/uploads/2022/12/maquinaria-pesada-1.jpg" alt=""></div>
						<div class="flex">
							<div class="w-16 flex items-center justify-center p-2">
								<i class="fa-regular fa-2x fa-map"></i>
							</div>
							<div class="content-center">
								<p class="text-sm font-mono flex content-center">
									Av. Honorio Delgado N°320 <br>
								Urb. Semirústica, El Bosque, Trujillo
								</p>
							</div>
						</div>
						<div class="flex">
							<div class="w-16  flex items-center justify-center p-2">
								<i class="fa-solid fa-2x fa-phone"></i>
							</div>
							<div class="flex items-center">
								<p class="text-sm font-mono">
								914817239
								</p>
							</div>
						</div>
						<div class="flex">
							<div class="w-16  flex items-center justify-center p-2">
								<i class="fa-solid fa-2x fa-phone"></i>
							</div>
							<div class="flex items-center">
								<p class="text-sm font-mono ">
								Tienda de Repuestos y Laboratorio Diesel
								</p>
							</div>
						</div>
						
						<div class="flex justify-center">
							<div class="flex justify-center w-1/2 py-2"><button class="w-2/3 px-2 border-black rounded-xl border-2 border-solid hover:bg-orange-600 hover:text-white">Llamar</button></div>
							<div class="flex justify-center w-1/2 py-2"><button class="w-2/3 px-2 border-black rounded-xl border-2 border-solid hover:bg-orange-600 hover:text-white">Mapa</button></div>
						</div>
					</div>
				</div>
			</div>
			<div class="pt-14 pb-5">
				<div class="flex justify-center content-center font-bold text-xl md:text-4xl">
					<p class="  text-center  w-1/2">El repuesto que estas buscando en un solo lugar</p>
				</div>
				<div class="grid grid-cols-3 gap-4 py-2 px-7 flex justify-center content-center bg-slate-200 md:grid-cols-4 gap-4 py-5 px-28 ">
					<div class="bg-white rounded-xl p-2 md:p-4 hover:bg-orange-600 hover:text-white hover:cursor-pointer"onclick="window.location.href='#';" >
						<div class="flex justify-center">
							<i class="fa-solid fa-4x fa-engine"></i>
						</div>
						<div class="flex justify-center p-2 md:p-4">
							<p class="text-sm font-mono">Turbos</p>
						</div>
					</div>
					<div class="bg-white rounded-xl p-2 md:p-4 hover:bg-orange-600 hover:text-white hover:cursor-pointer" onclick="window.location.href='#';" >
						<div class="flex justify-center">
							<i class="fa-solid fa-4x fa-tank-water"></i>
						</div>
						<div class="flex justify-center p-2 md:p-4">
							<p class="text-sm font-mono">Toberas</p>
						</div>
					</div>
					<div class="bg-white rounded-xl p-2 md:p-4 hover:bg-orange-600 hover:text-white hover:cursor-pointer" onclick="window.location.href='#';" >
						<div class="flex justify-center">
							<i class="fa-solid fa-4x fa-oil-can"></i>
						</div>
						<div class="flex justify-center p-2 md:p-4">
							<p class="text-sm font-mono">Filtros</p>
						</div>
					</div>
					<div class="bg-white rounded-xl p-2 md:p-4 hover:bg-orange-600 hover:text-white hover:cursor-pointer" onclick="window.location.href='#';" >
						<div class="flex justify-center">
							<i class="fa-solid fa-4x fa-gas-pump"></i>
						</div>
						<div class="flex justify-center p-2 md:p-4">
							<p class="text-sm font-mono">Bombas</p>
						</div>
					</div>
					<div class="bg-white rounded-xl p-2 md:p-4 hover:bg-orange-600 hover:text-white hover:cursor-pointer" onclick="window.location.href='#';" >
						<div class="flex justify-center">
							<i class="fa-solid fa-4x fa-pipe-valve"></i>
						</div>
						<div class="flex justify-center p-2 md:p-4">
							<p class="text-sm font-mono">Válvulas</p>
						</div>
					</div>
					<div class="bg-white rounded-xl p-2 md:p-4 hover:bg-orange-600 hover:text-white hover:cursor-pointer" onclick="window.location.href='#';" >
						<div class="flex justify-center">
							<i class="fa-solid fa-4x fa-tire"></i>
						</div>
						<div class="flex justify-center p-2 md:p-4">
							<p class="text-sm font-mono">Cabezales</p>
						</div>
					</div>
					<div class="bg-white rounded-xl p-2 md:p-4 hover:bg-orange-600 hover:text-white hover:cursor-pointer" onclick="window.location.href='#';" >
						<div class="flex justify-center">
							<i class="fa-solid fa-4x fa-oil-temperature"></i>
						</div>
						<div class="flex justify-center p-2 md:p-4">
							<p class="text-sm font-mono">Actuadores</p>
						</div>
					</div>
					<div class="bg-white rounded-xl p-2 md:p-4 hover:bg-orange-600 hover:text-white hover:cursor-pointer" onclick="window.location.href='#';" >
						<div class="flex justify-center">
							<i class="fa-sharp fa-4x fa-solid fa-oil-well"></i>
						</div>
						<div class="flex justify-center p-2 md:p-4">
							<p class="text-sm font-mono">Elementos</p>
						</div>
					</div>
					<div class="bg-white rounded-xl p-2 md:p-4 hover:bg-orange-600 hover:text-white hover:cursor-pointer" onclick="window.location.href='#';" >
						<div class="flex justify-center">
							<i class="fa-solid fa-4x fa-bottle-droplet"></i>
						</div>
						<div class="flex justify-center p-2 md:p-4">
							<p class="text-sm font-mono">Inyectores</p>
						</div>
					</div>
					
				</div>
			</div>
			<div class="pt-2 md:pt-14 pb-5">
				<div class="flex justify-center content-center">
					<p class="text-4xl font-bold w-1/2 text-center">Nuestros servicios</p>
				</div>
				<div class="flex justify-center content-center bg-slate-200 grid grid-cols-1 gap-4 py-2 px-7 md:grid-cols-2 gap-5 py-5 px-28">
					<div class="bg-black rounded-xl p-4 text-white hover:bg-orange-600 hover:text-white hover:cursor-pointer">
						<div class="grid grid-rows-2 grid-flow-col gap-1" onclick="window.location.href='#';" >
							<div class="row-span-1 col-span-4 ">
								<p class="text-xl font-bold md:text-2xl">
									Servicio 1
								</p>
							</div>
							<div class="col-span-4 ">
								<p class="text-xl font-mono md:text-2xl">
									Lorem ipsum dolor, sit amet consectetur adipisicing elit.
								</p>
							</div>
							<div class=" flex items-center row-span-2 col-span-1 ">
								<i class="fa-solid  fa-chevron-right  fa-3x md:fa-4x"></i>
							</div>
						</div>
					</div>
					<div class="bg-black rounded-xl p-4 text-white hover:bg-orange-600 hover:text-white hover:cursor-pointer">
						<div class="grid grid-rows-2 grid-flow-col gap-1" onclick="window.location.href='#';">
							<div class="row-span-1 col-span-4 ">
								<p class="text-xl font-bold md:text-2xl">
									Servicio 2
								</p>
							</div>
							<div class="col-span-4 ">
								<p class="text-xl font-mono md:text-2xl">
									Lorem ipsum dolor, sit amet consectetur adipisicing elit.
								</p>
							</div>
							<div class="flex items-center row-span-2 col-span-1 ">
								<i class="fa-solid  fa-chevron-right  fa-3x md:fa-4x"></i>
							</div>
						</div>
					</div>
					<div class="bg-black rounded-xl p-4 text-white hover:bg-orange-600 hover:text-white hover:cursor-pointer">
						<div class="grid grid-rows-2 grid-flow-col gap-1" onclick="window.location.href='#';" >
							<div class="row-span-1 col-span-4 ">
								<p class="text-xl font-bold md:text-2xl">
									Servicio 3
								</p>
							</div>
							<div class="col-span-4 ">
								<p class="text-xl font-mono md:text-2xl">
									Lorem ipsum dolor, sit amet consectetur adipisicing elit.
								</p>
							</div>
							<div class="flex items-center row-span-2 col-span-1 ">
								<i class="fa-solid  fa-chevron-right  fa-3x md:fa-4x"></i>
							</div>
						</div>
					</div> 
					<div class="bg-black rounded-xl p-4 text-white hover:bg-orange-600 hover:text-white hover:cursor-pointer ">
						<div class="grid grid-rows-2 grid-flow-col gap-1" onclick="window.location.href='#';" >
							<div class="row-span-1 col-span-4 ">
								<p class="text-xl font-bold md:text-2xl">
									Servicio 4
								</p>
							</div>
							<div class="col-span-4 ">
								<p class="text-xl font-mono md:text-2xl">
									Lorem ipsum dolor, sit amet consectetur adipisicing elit.
								</p>
							</div>
							<div class=" flex items-center row-span-2 col-span-1 ">
								<i class="fa-solid  fa-chevron-right  fa-3x md:fa-4x"></i>
							</div>
						</div>
					</div>
					<div class="bg-black rounded-xl p-4 text-white hover:bg-orange-600 hover:text-white hover:cursor-pointer">
						<div class="grid grid-rows-2 grid-flow-col gap-1" onclick="window.location.href='#';" >
							<div class="row-span-1 col-span-4 ">
								<p class="text-xl font-bold md:text-2xl">
									Servicio 5
								</p>
							</div>
							<div class="col-span-4 ">
								<p class="text-xl font-mono md:text-2xl">
									Lorem ipsum dolor, sit amet consectetur adipisicing elit.
								</p>
							</div>
							<div class=" flex items-center row-span-2 col-span-1 ">
								<i class="fa-solid  fa-chevron-right  fa-3x md:fa-4x"></i>
							</div>
						</div>
					</div>
					<div class="bg-black rounded-xl p-4 text-white hover:bg-orange-600 hover:text-white hover:cursor-pointer">
						<div class="grid grid-rows-2 grid-flow-col gap-1" onclick="window.location.href='#';" >
							<div class="row-span-1 col-span-4 ">
								<p class="text-xl font-bold md:text-2xl">
									Servicio 6
								</p>
							</div>
							<div class="col-span-4 ">
								<p class="text-xl font-mono md:text-2xl">
									Lorem ipsum dolor, sit amet consectetur adipisicing elit.
								</p>
							</div>
							<div class=" flex items-center row-span-2 col-span-1 ">
								<i class="fa-solid  fa-chevron-right  fa-3x md:fa-4x"></i>
							</div>
						</div>
					</div>			
				</div>

			</div>
			<div class="pt-1 md:pt-14 pb-5">
				<div class="flex justify-center content-center">
					<p class=" font-bold text-center text-2xl md:text-4xl">Agenda una revisión en nuestro laboratorio</p>
				</div>
				<div >
					<div class="flex min-h-full flex-col justify-center px-7 py-6 lg:px-8 ">
						<div class="mt-10 sm:mx-auto sm:w-full sm:max-w-1/2-sm bg-white rounded-xl md:flex w-full mx-auto">
							<div class="rounded-xl md:w-1/2 ">
								<img class="flex rounded-xl object-fill" src="https://www.shutterstock.com/image-photo/mature-latin-manager-mentor-talking-600nw-2322560109.jpg" alt="">
							</div>
							<div class=" pt-5 md:w-1/2 px-5 pt-5">
								<form class="space-y-6" action="#" method="POST">
									<div>
										<label for="name" class="block text-sm font-medium leading-6 text-gray-900">Nombre</label>
										<div class="mt-2">
										  <input id="name" name="name" type="text" autocomplete="name" required class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
										</div>
									  </div>
									<div>
									  <label for="email" class="block text-sm font-medium leading-6 text-gray-900">Correo</label>
									  <div class="mt-2">
										<input id="email" name="email" type="email" autocomplete="email" required class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
									  </div>
									</div>
							  
									<div>
									  <div class="flex items-center justify-between">
										<label for="celular" class="block text-sm font-medium leading-6 text-gray-900">Celular</label>
									  </div>
									  <div class="mt-2">
										<input id="celular" name="celular" type="text" autocomplete="celular" required class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
									  </div>
									</div>
							  
									<div>
									  <button type="submit" class="flex w-full justify-center rounded-md bg-indigo-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Registrarse</button>
									  <p class="text-center text-sm text-gray-500">
										<a href="#" class="font-semibold leading-6 text-indigo-600 hover:text-indigo-500">Válido durante 15:00</a>
									  </p>
									</div>
								  </form>
							</div>
						</div>
					  </div>
				</div>		
			</div>			
		</body>
	</main>
</Layout>


