---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="stylesheet" href="https://acelera.b-cdn.net/fa/css/all.min.css">
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="bg-slate-200">
		<slot />
		
	</body>
	<footer class="p-5">
		<div class="flex justify-center bg-teal-500 rounded-xl">
			<div class=" px-2 md:px-5 py-5 text-white hover:text-orange-600 hover:cursor-pointer"onclick="window.location.href='#';">
				<i class="fa-brands fa-2x fa-facebook" ></i>
			</div>
			<div class="px-2 md:px-5 py-5 text-white hover:text-orange-600 hover:cursor-pointer"onclick="window.location.href='#';">
				<i class="fa-brands fa-2x fa-instagram"></i>
			</div>
			<div class="px-2 md:px-5 py-5 text-white hover:text-orange-600 hover:cursor-pointer"onclick="window.location.href='#';">
				<i class="fa-brands fa-2x fa-linkedin"></i>
			</div>
			<div class="px-2 md:px-5 py-5 text-white hover:text-orange-600 hover:cursor-pointer"onclick="window.location.href='#';">
				<i class="fa-brands fa-2x fa-tiktok"></i>
			</div>
			<div class="px-2 md:px-5 py-5 text-white hover:text-orange-600 hover:cursor-pointer"onclick="window.location.href='#';">
				<i class="fa-brands fa-2x fa-youtube"></i>
			</div>
			<div class="px-2 md:px-5 py-5 text-white hover:text-orange-600 hover:cursor-pointer"onclick="window.location.href='#';">
				<i class="fa-brands fa-2x fa-whatsapp"></i>
			</div>
		</div>
	</footer>
</html>
